<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>org.blog.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CheckUserExistFilter</filter-name>
    <filter-class>org.blog.filter.CheckUserExistFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckUserExistFilter</filter-name>
    <url-pattern>/Servlet/*</url-pattern>
    <url-pattern>/view/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CheckPictureExistFilter</filter-name>
    <filter-class>org.blog.filter.CheckPictureExistFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckPictureExistFilter</filter-name>
    <url-pattern>/view/picturemanager.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CheckRegisterFilter</filter-name>
    <filter-class>org.blog.filter.CheckRegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckRegisterFilter</filter-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </filter-mapping>
</web-app>